/* Write your code here. */

.game-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  background-size: cover;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 100px;
}

.list-container {
  list-style-type: none;
  padding: 0px;
  width: 50%;

  display: flex;
  flex-wrap: wrap;

  margin: 0px;
}
